<nav class="navbar">
  <div class="container">
    <a href="<%= root_path %>" class="logo">L'Univers des Sens</a>
    <ul class="nav-links">
      <li><a href="<%= root_path %>">Accueil</a></li>
      <li><a href="<%= courses_path %>">Yoga</a></li>
      <li><a href="<%= hikes_path %>">Randonnées</a></li>
      <li><a href="#contact">Contact</a></li>
      <% if user_signed_in? && current_user.admin? %>
      <li><a href="<%= admin_dashboard_path %>">Admin</a></li>
      <% end %>
    </ul>
  </div>
</nav>
