<h1>Modifier la Randonnée Yoga</h1>

<%= form_with model: @hike, url: hike_path(@hike), local: true, method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :title, "Nom de la randonnée" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location, "Adresse" %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

<div class="form-group">
  <%= f.label :date, "Date de début du séjour" %>
  <%= f.date_field :date, value: @hike.date&.to_date, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :end_date, "Date de fin du séjour" %>
  <%= f.date_field :end_date, value: @hike.end_date&.to_date, class: "form-control" %>
</div>

  <div class="form-group">
    <%= f.label :price, "Tarif" %>
    <%= f.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo, "Photo (optionnelle)" %>
    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <%= f.submit "Mettre à jour", class: "btn btn-success" %>
<% end %>
