<h1>Nouveau message reçu</h1>

<p><strong>Nom :</strong> <%= @contact[:first_name] %> <%= @contact[:last_name] %></p>
<p><strong>Email :</strong> <%= @contact[:email] %></p>
<p><strong>Numéro de téléphone :</strong> <%= @contact[:phone] %></p>
<p><strong>Message :</strong> <%= @contact[:message] %></p>
