<h1>Modifier le Cours de Yoga</h1>

<p>Date actuelle enregistrée : <%= @course.date %></p>
<p>Type de date : <%= @course.date.class %></p>


<%= form_with model: @course, url: course_path(@course), local: true, method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :title, "Nom du cours" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location, "Adresse" %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration, "Durée du cours" %>
    <%= f.text_field :duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date, "Date du cours" %>
    <%= f.date_select :date, class: "form-control", default: Date.today %>
  </div>

  <div class="form-group">
    <%= f.label :price, "Tarif" %>
    <%= f.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo, "Photo (optionnelle)" %>
    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <%= f.submit "Mettre à jour", class: "btn btn-success" %>
<% end %>
